@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    1510 Hyde Park Blvd<br />
    Houston, TX 77006<br />
    <abbr title="Phone">P: </abbr>
    832-123-456
</address>*@
<p>All comments and suggestions are warmly welcomed!</p>
<address>
    <strong>Email:</strong>   <a href="mailto:vickytsa@gmail.com">vickytsa@gmail.com</a> <span> (Vicky Tsao)</span>
</address>